div#typing-app {
    display: block;
    margin: 0 auto;
}

div#words-box {
    margin: 25px auto;
    text-align: center;
    font-size: 2.0em;
    font-family: monospace;
    width: 50%;
    padding: 0;
    line-height: 80px;
    border: 1px solid #b9b9b9;
    }

div#input-wrapper {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.5em;
    font-family: monospace;
}

input#typing-input {
    margin: 0 auto;
    text-align: center;
    }

span.word:after {
    content: " ";
}

span.word#current-word {
    font-weight: bold;
    }
